@font-face {
  font-family: morning-star;
  src: url('../assets/Morning\ Star.ttf');
}

* {
  text-align: center;
  margin: 0 auto;
  /* overflow-y: hidden; */
  color: #2f241d;
}

body {
  background-image: url('../assets/backsplash.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}


.Header {
  background-color: rgb(212, 217, 184, .8);
  height: 100vh;
}

.title-container {
  width: fit-content ;
}

.hero-img {
  width: 100%;
  margin: 10px auto 20px auto;
}

.title-container h1 {
  color: #d8572e;
  font-size: 86px;
  font-family: morning-star;
  padding: 10px;
}

.Section {
  min-height: 100vh;
  background-color: rgb(245, 238, 218, .9);
}

.Section h1 {
  color: #d8572e;
  letter-spacing: 3px;
  font-family: morning-star;
  font-size: 36px;
  padding-top: 40px;
}

.Section h2 {
  padding: 20px;
}

.Section p {
  padding: 20px;
  width: 75%;
  font-size: 18px;
}

#headshot {
  width: 25%;
  padding: 20px;
}

.gallery_container {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.gallery_card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(212, 217, 184);
  margin: 20px auto;
  border-radius: 12px;
  border: 1px solid rgb(188, 192, 165)
}

.gallery_card img {
  width: 350px;
  padding: 5px;
  border-radius: 12px;
}

.gallery_card h3 {
  font-size: 24px;
  color: #FFFCF0;
}